@model U_LearningNET.Models.Courses

@{
    ViewBag.Title = Model.title;
}
<link href="~/Styles/forms.css" rel="stylesheet" />

<link href="~/Styles/course_page.css" rel="stylesheet">

<div class="content">
    <div class="right"></div>
    <div class="right-card">
        <div class="right-content">
            <p id="title">
                @Html.DisplayFor(model => model.title)
            </p>
            <p id="right-description">
                @Html.DisplayFor(model => model.description)
            </p>
            <a href="../checkout.html?courseId=COURSE_ID">
                <button class="btn-primary" id="subscribe">اشترك الآن</button>
            </a>
            <div class="bottom-right-section">
                <span>
                    <img src="../../image/coursePage/solar_book-bold.png" alt=""><span>
                        عدد الدروس : 18
                        درس
                    </span>
                </span>
                <span>
                    <img src="../../image/coursePage/mingcute_time-fill.png" alt=""><span>
                        مدة الكورس : 14
                        ساعة
                    </span>
                </span>
                <span>
                    <img src="" alt="" id="person-icon"><span>
                        @Html.DisplayFor(model => model.Instructors.bio)

                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="left-card">
            <div class="left-content">
                <video controls autoplay muted loop class="course-video"></video>
                <div class="left-text">
                    <div class="first-text">
                        <span>تعرف على الكورس</span>
                        <span class="second-text">ماذا ستجني من هذه الدورة؟</span>
                    </div>
                    <span id="left-description">
                        @Html.DisplayFor(model => model.description)

                    </span>
                    <div class="instructor">
                        <img src="../../image/Home/amir.png" alt="instructor image" class="instructor-image">
                        <div class="text-instructor">
                            <span class="instructor-name">
                                @Html.DisplayFor(model => model.Instructors.Users.first_name) @Html.DisplayFor(model => model.Instructors.Users.last_name)

                            </span>
                            <span class="instructor-job">
                                @Html.DisplayFor(model => model.Instructors.Users.role)
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h2>Details</h2>

@Html.ActionLink("Edit", "Edit", new { id = Model.course_id }) |
@Html.ActionLink("Back to List", "Index")
