@model IEnumerable<U_LearningNET.Models.Courses>

@{
    ViewBag.Title = "Index";
}
<link href="~/Styles/AllCourses.css" rel="stylesheet" />

<section class="courses-section">
    <h2 class="section-title" id="courses-title">كل الكورسات</h2>
    <div class="courses-container">
        @foreach (var course in Model)
        {
            <a href="@Url.Action("Details", "Courses", new { id = course.course_id })">
                <div class="course-card">
                    <div class="course-image">
                        <!--<img src="#" alt="@course.title" />-->@* add course image *@
                    </div>
                    <div class="course-info">
                        <h4>@course.title</h4>
                        <div class="course-meta">
                            <div class="course-price">Price</div>@* add course price *@ 
                            <div class="instructor-info">
                                <div class="instructor-details">
                                    <div class="instructor-name">@course.Instructors.Users.first_name @course.Instructors.Users.last_name </div>
                                    <div class="instructor-title">@course.Instructors.Users.profile</div>
                                </div>
                                <div class="instructor">
                                    <img src="@course.Instructors.Users.photo" alt="المدرب" />
                                </div>
                            </div>
                        </div>
                        <div class="course-actions">
                            <button class="course-btn btn-enroll">اشترك الآن</button>
                            <button class="course-btn btn-details">الدخول للكورس</button>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</section>