@model U_LearningNET.Models.Users

@{
    ViewBag.Title = "Login";
}
<link href="~/Styles/loginPage_ar.css" rel="stylesheet" />
<div class="content-container">
    <div class="right">
        <!-- Card start -->
        <div class="card" id="loc-card">
            <div class="card-header">
                <a href="@Url.Action("Login", "Users")">
                    <p>تسجيل دخول</p>
                </a>
                <a href="@Url.Action("Register", "Users")">
                    <p id="signUp">إنشاء حساب</p>
                </a>
            </div>
            <div class="card-body">
                <p class="login-to-account">سجل الدخول إلى حسابك</p>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="error-message" style="color: red; margin-bottom: 15px; text-align: center;">
                        @TempData["ErrorMessage"]
                    </div>
                }
                @using (Html.BeginForm("Login", "Users", FormMethod.Post, new { @class = "login-form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" name="username" class="username" placeholder="اسم المستخدم">
                    <input type="password" name="password" class="password" placeholder="كلمة المرور">
                    <button type="submit" class="btn-primary" id="login-btn2">تسجيل الدخول</button>
                }
                <a href="forgotPassword.html">
                    <p class="forget-pass">هل نسيت كلمة المرور؟</p>
                </a>
                <div class="login-auth">
                    <p>
                        ليس لديك حساب؟ <span>
                            <a href="@Url.Action("Register", "Users")">
                                سجل الاّن
                            </a>
                        </span>
                    </p>
                </div>
                <div class="divider">
                    <span class="divider-line"></span>
                    <span class="divider-text">أو سجل باستخدام</span>
                    <span class="divider-line"></span>
                </div>
                <div class="login-method">
                    <button class="google-login">Google Account<img src="../Images/Google%20Plus.png"></button>
                    <button class="facebook-login">Facebook<img src="../Images/facebook.svg"></button>
                </div>
            </div>
        </div>
        <!-- Card end -->
    </div>
    <div class="left">
        <div class="image">
            <img src="../Images/LoginPage/illustration.png" alt="banner">
        </div>
    </div>
</div>